* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px 0;
  }
  
  .promotions {
    text-align: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .search-bar {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the content */
  }
  
  .search-bar input {
    width: 60%; /* Adjust width as needed */
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .user-options a {
    color: black; /* Set text color to black */
    text-decoration: none;
    margin-left: 10px;
  }
  
  .admin-option {
    margin-left: auto; /* Pushes the "Admin" option to the right */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Aligns navigation options with space between them */
    align-items: center; /* Centers the navigation options vertically */
    padding: 0;
  }
  
  nav ul li:not(:last-child) {
    margin-right: 20px; /* Add spacing between navigation options */
  }
  
  nav ul li:first-child,
  nav ul li:last-child {
    margin: 0; /* Remove margin for the first and last navigation options */
  }
  
  footer {
  background-color: #f2f2f2;
  padding: 30px 0;
  }
  
  .container {
  width: 80%;
  margin: 0 auto;
  }
  
  .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .col-md-3 {
  width: 25%;
  padding: 0 10px;
  }
  
  .contact-us,
  .information,
  .my-account,
  .newsletter {
  margin-bottom: 20px;
  }
  
  .contact-us h3,
  .information h3,
  .my-account h3,
  .newsletter h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  }
  
  .contact-us p,
  .information ul li a,
  .my-account ul li a,
  .newsletter p {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  }
  
  .contact-us a {
  color: #333;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  }
  
  .information ul,
  .my-account ul {
  list-style: none;
  padding: 0;
  }
  
  .information ul li,
  .my-account ul li {
  margin-bottom: 5px;
  }
  
  .newsletter form {
  margin-top: 10px;
  }
  
  .newsletter .form-group {
  margin-bottom: 10px;
  }
  
  .newsletter input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  }
  
  .newsletter button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  }
  
  .copyright {
  text-align: center;
  padding: 10px 0;
  color: #999;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    margin-bottom: 2%;
  }

  h3 {
    text-align: center;
    margin-top: 5%;
  }
  
  form {
    font-size: 100%;
    text-align: center;
    box-shadow: rgba(214, 135, 182, 0.16) 0px 1px 4px, rgb(48, 47, 47) 0px 0px 0px 3px;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }