.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 10px; /* Reduced gap */
}

.card {
  max-width: 250px; /* Smaller max-width */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-media {
  width: 100%;
  height: 120px; /* Reduced height */
  object-fit: cover;
}

.card-content {
  padding: 12px; /* Reduced padding */
  background-color: #d9d9d9;
}

.card-title {
  margin: 0;
  font-size: 16px; /* Reduced font size */
  margin-bottom: 6px; /* Reduced margin */
}

.card-description {
  margin: 0;
  color: #555;
  font-size: 12px; /* Reduced font size */
  height: 90px; /* Reduced height */
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #e6e6e6;
  height: 30px; /* Reduced height */
}

.button-small {
  padding: 6px 12px; /* Reduced padding */
  font-size: 10px; /* Reduced font size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease-in-out; /* Transition effect for hover */
  line-height: 1.5;
}

.button-small:hover {
  background-color: #0056b3;
}

.price {
  background-color: rgb(255, 0, 0); /* Red background */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  width: 60px; /* Reduced width */
  color: white; /* Font color */
  border-radius: 4px;
  font-size: 10px; /* Reduced font size */
  font-weight: bold; /* Bold font weight */
  line-height: 1.5; /* Adjust line height for better readability */
  padding: 4px 8px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease-in-out; /* Transition effect for hover */
}

.price:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}
