* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper h1 {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
.project {
  display: flex;
}
.shop {
  flex: 75%;
}
.box {
  display: flex;
  width: 100%;
  height: 250px; /* Set a fixed height for the box */
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.box img {
  width: 250px; /* Set a fixed width for the image */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
}

.box:hover {
  border: none;
  transform: scale(1.01);
}

.content {
  padding: 20px;
  width: 100%;
  position: relative;
}
.content h3 {
  margin-bottom: 30px;
}
.content h4 {
  margin-bottom: 20px;
}
.content h5 {
  margin-bottom: 30px;
}
.btn-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-area:hover {
  background-color: maroon;
  color: #fff;
  font-weight: 600;
}

.btn-area1 {
  position: absolute;
  bottom: 20px;
  right: 90px;
  padding: 10px 20px;
  background-color: #0c7bcf;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-area1:hover {
  background-color: rgb(138, 173, 234);
  color: #fff;
  font-weight: 600;
}

.unit input {
  width: 40px;
  padding: 5px;
  text-align: center;
}
.btn-area i {
  margin-right: 5px;
}
.right-bar {
  flex: 40%;
  margin-left: 20px;
  padding: 20px;
  height: 400px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right-bar hr {
  margin-bottom: 25px;
}
.right-bar p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}
.right-bar a {
  background-color: #76bfb6;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
}
.right-bar i {
  margin-right: 15px;
}
.right-bar a:hover {
  background-color: #3972a7;
}
@media screen and (max-width: 700px) {
  .content h3 {
    margin-bottom: 15px;
  }
  .content h4 {
    margin-bottom: 20px;
  }
  .content h5 {
    margin-bottom: 20px;
  }
  .btn2 {
    display: none;
  }
  .box {
    height: 150px;
  }
  .box img {
    height: 150px;
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .project {
    flex-direction: column;
  }
  .right-bar {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 95%;
  }
}

.container {
  text-align: center;
  margin-top: 20px;
}
.container h1 {
  font-size: 24px;
  color: #333;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.container button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.container button:hover {
  background-color: #45a049;
}
